@model MGAsite.Models.Pony

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pony</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PassportID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PonyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PonyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PoniesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
