@model MGAsite.Models.EventRiderEntry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventRiderEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paticipated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paticipated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pony.PassportID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pony.PassportID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rider.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rider.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventTeamEntry.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTeamEntry.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
