@model IEnumerable<MGAsite.Models.TeamEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventPriority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season.Season1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventPriority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.Season1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeamEventsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeamEventsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeamEventsID })
        </td>
    </tr>
}

</table>
