@{
    ViewBag.Title = "Manage Data";
}

<div class="jumbotron">
    <h1>Manage Data</h1>
    <p> @Html.ActionLink("Events", "Index", "Event") </p>
    <hr/>
    <p> @Html.ActionLink("Riders", "Index", "Rider") </p>
    <p> @Html.ActionLink("Ponies", "Index", "Pony") </p>
    <p> @Html.ActionLink("Teams", "Index", "Team") </p>
    <p> @Html.ActionLink("Seasons", "Index", "Season") </p>
</div>

