@model MGAsite.Models.EventResults

@{
    ViewBag.Title = "Results";
}

<h2>@Html.DisplayFor(model => model.Event.EventName) @Html.DisplayFor(model => model.Event.Season.SeasonName) Results</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <h3>Participating Teams</h3>
    <table cellpadding="5">
        <thead>
            <tr>
                <th>Team</th>
                <th></th>
                <th>Rider 1</th>
                @if(Model.EventType != MGAsite.Models.Lookup.Individuals)
                { 
                    <th>Rider 2</th>
                    if(Model.EventType == MGAsite.Models.Lookup.Team)
                    { 
                        <th>Rider 3</th>
                        <th>Rider 4</th>
                        <th>Rider 5</th>
                    }
                }
                <th>Score</th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.Teams.Count; i++ )
        {
            var item = Model.Teams[i];
        <tr>
            <td>
                @Html.HiddenFor(modelItem => Model.Teams[i].EventTeamEntryId)
                @Model.Teams[i].TeamName
            </td>
            <td>
                (
                @item.EntryCategory
                )
            </td>

            <td>
                @Html.EditorFor(modelItem => Model.Teams[i].Rider1Participated)
                @Model.Teams[i].Rider1Name
            </td>

            @if(Model.EventType != MGAsite.Models.Lookup.Individuals)
            { 
                <td>
                    @if(Model.Teams[i].Rider2Name != null)
                    { 
                    @Html.EditorFor(modelItem => Model.Teams[i].Rider2Participated)
                    @Model.Teams[i].Rider2Name
                    }
                    else
                    {
                        @:--No Rider--
                    }
                </td>
                if(Model.EventType == MGAsite.Models.Lookup.Team)
                { 
                    <td>
                        @if(Model.Teams[i].Rider3Name != null)
                        { 
                        @Html.EditorFor(modelItem => Model.Teams[i].Rider3Participated)
                        @Model.Teams[i].Rider3Name
                        }
                        else
                        {
                            @:--No Rider--
                        }
                    </td>
                    <td>
                        @if(Model.Teams[i].Rider4Name != null)
                        { 
                        @Html.EditorFor(modelItem => Model.Teams[i].Rider4Participated)
                        @Model.Teams[i].Rider4Name
                        }
                        else
                        {
                            @:--No Rider--
                        }
                    </td>
                    <td>
                        @if(Model.Teams[i].Rider5Name != null)
                        { 
                            @Html.EditorFor(modelItem => Model.Teams[i].Rider5Participated)
                            @Model.Teams[i].Rider5Name
                        }
                        else
                        {
                            @:--No Rider--
                        }
                    </td>
                }
            }

            <td>
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.Teams[i].Points, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => Model.Teams[i].Points, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>
        }
    </table>

    <hr />
    <p>
        <div class="form-actions no-color">
            <input type="submit" value="Save" class="btn btn-default" /> |
            @Html.ActionLink("Cancel", "Index")
        </div>
    </p>

}